/*******************************
************CSS Resets *********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************
********** MAIN CSS ***********/

:root {
	--bg-primary: #4e5266;
	--bg-secondary: #575B72;
	--color-primary: #4cabb1;
	--color-secondary: #69c7ad;
	--color-tertiary: #fed586;
	--font: 'Raleway', sans-serif;
	--text-color: #434b56;
	--heading-color: #fff;
	font-size: 16px;
}
body {
	font-family: var(--font);
	line-height: 1.5;
	color: var(--text-color);
}

/******* Base CSS *******/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #fff;
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}
/***** Heading Elements ******/
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}

/* Grid */
.col {
	padding: 15px;
}
.col-1 {
	width: 8.3333%;
	float: left;
}
.col-2 {
	width: 16.6667%;
	float: left;
}
.col-3 {
	width: 25%;
	float: left;
}
.col-4 {
	width: 33.3333%;
	float: left;
}
.col-5 {
	width: 41.6667%;
	float: left;
}
.col-6 {
	width: 50%;
	float: left;
}
.col-7 {
	width: 58.3333%;
	float: left;
}
.col-8 {
	width: 66.6667%;
	float: left;
}
.col-9 {
	width: 75%;
	float: left;
}
.col-10 {
	width: 83.3333%;
	float: left;
}
.col-11 {
	width: 91.6667%;
	float: left;
}
.col-12 {
	width: 100%;
	float: left;
}
/* wrapper */
.wrapper {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
.submit-btn {
	background: var(--color-primary);
	color: #fff;
	text-transform: uppercase;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 12px 30px;
}

/******* Clearfix *****/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/********Header Styles******/
.banner {
	background: url("./../media/banner.jpg") center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
}
.header {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
}
.nav-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 10px 0px; */
	/* font-size: inherit; */
	/* text-rendering: auto; */
}
.nav-head a {
	color: white;
}
.nav-head h1 {
	font-family: 'Source Sans Pro', sans-serif;
}
.nav-head li {
  display: inline-block;
	margin: 0px 20px;
}
.nav-head .active {
	color: #ff4c4c;
}
.nav-head a:hover {
	color: #FF4C4C;
  border-radius: 5px;
	cursor: pointer;
	transition-property: color;
	transition-duration: 1s;
	/* transition-delay: 1.5s; */
  transition-timing-function: linear, ease-in;	
}
.h1-logo {
	font-size: 2.0rem;
}
.nav__menu {
	@extend .nav;
}
.nav__link {
	font-size: 0.9rem;
	font-weight: bold;
	/* font-style: bold; */
	/* margin-left: 2rem; */
	transition: all 200ms ease-in-out;
}
#toggle, .label {
	display: none;
}
/*Dropdown*/
.drop-link {
	position: relative;
}
.drop-box {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	/* padding-top: 20px; */
}
.drop-menu {
	background:#ffffff;
	border-radius: 6px;
	padding: 20px 20px;
	text-align: left;
	width: 180px;
	display: none;
}
.drop-menu li {
	display: block;
	/* padding-left: 1rem; */
	margin: 0;
}
.drop-menu li a {
	display: block;
	background: none;
	padding: 0.5rem 1rem;
	margin: 10px 0px;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
}
.drop-link:hover .drop-menu {
	display: block;
}
.drop-menu li a:hover {
	background: none;
	color: #FF4C4C;
	background: #F8F9FA;
}
/* Banner-info */
.banner-info {
	padding: 4em 0 0em 3em;
	width: 38%;
}
.banner-buttons {
	padding-bottom: 12rem;
}

.banner-info p {
	color: #fff;
	font-size: 0.8em;
	letter-spacing: 1.0;
	font-weight: 400;
	margin: 0;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}
.banner-info h3 {
	font-size: 3.5em;
	letter-spacing: 1.0;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
	margin-bottom:  1.5rem;
}
.banner-info .btn {
	padding: 11px 31px;
	border-radius: 0px;
	font-weight: 600;
	box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.5);
	color:#ff4c4c;
	background: #ffffff;
}
.banner-info .read-btn {
	background: #10A6FB;
	color: #f7f7f7;
}
.secondry-heading {
	background: rgb(230, 227, 227);
}

/********RESPONSIVE*****/
/* STYLE FOR HAMBURGER */
	
@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.label {
		display: block;
	}
	#toggle:checked ~ .nav__menu {
		display: block;
	}
	.nav__menu {
		display: flex;
		/* flex-direction: column; */
		position: absolute;
		right: 1.0rem;
		margin-left: 1rem;
		/* left: auto; */
		top: 3.5rem;
		display: none;
		background: rgba(16, 16, 16, 0.85);
		padding: 20px;
	}
	.nav__link {
		margin-left: 0;
		margin-bottom: 3rem;
		display: block;
	}
	
	footer {
		height: 100%;
		margin: 0.625rem 0;
		padding: 0;
	}
	iframe {
		width: auto;
	}
}

@media all and (max-width: 630px) {
	.banner-buttons {
		padding-top: 1rem;
		padding-bottom: 3rem;
		margin-top: 20px;
	}
	 .banner-info h3 {
		font-size: 3.0rem;
	}
	.banner-info .read-btn {
		background: #10A6FB;
		color: #f7f7f7;
	} 
	
}